.container p {
    margin-bottom: 20px;
}
.container input {
    margin-bottom: 40px;
    width: 100px;
    border: 1px #304ffe dashed;
    color: grey;
    border-radius: 5px;
    height: 40px;
    font-size: 1rem;
    text-align: center;
}

.container input:focus{
  border: 1px #304ffe solid;
  outline: none;
}