.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    height: 70px;
    border-radius: 10px;
    padding: 0 20px;
    margin: 20px 0;
    color: #30475E;
}
.header div ul {
    display: flex;
    list-style: none;
    gap:20px

}
.header div ul li a{
    font-weight: 400;
    
}
.login a{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #30475E;
    padding: 0px 10px;
    background-color: #F5F5F5;
    color: #213555;
    transition: all 0.3s ease;
}
.login a:hover{
    background-color: #213555;
    color: #F5F5F5;
}
.user a {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #30475E;
    padding: 5px;
    background-color:#213555;
    color: #F5F5F5;
    transition: all 0.3s ease;
}
.user a:hover{
    border: none;
    background-color: #F5F5F5;
    color: #213555;
}

